@import '../colors.css';
aside {
	z-index: 1;
	position: relative;
	grid-column: 1/2;
	grid-row: 2/3;
	background-color: var(--darker-light-grey);
}
.sidebar-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 20px;
}
.task-btn,
.add-project-btn {
	background-color: var(--darker-light-grey);
	font-size: 1.2rem;
	font-weight: 400;
	color: var(--dark-color);
	border: 0px solid white;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 5px;
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 0.5rem;
	padding: 5px 10px;
}
.task-btn:hover,
.add-project-btn:hover {
	cursor: pointer;
	background-color: var(--light-grey);
}

.projects-header {
	font-size: 1.8rem;
	font-weight: 600;
	color: var(--dark-color);
	margin-left: 10%;
	padding-bottom: 10px;
}
.projects-container {
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.add-project-form {
	/* display: flex; */
	display: none;
	flex-direction: column;
}
.input-label-container {
	display: flex;
	gap: 1rem;
	justify-content: center;
	width: 80%;
	margin: auto;
}
.project-btn-container {
	display: flex;
	gap: 1rem;
	justify-content: center;
	margin: auto;
	width: 80%;
}
.cancel-btn,
.add-btn {
	/* width: 6rem; */
	background-color: var(--darker-light-grey);
	border: 1px solid white;
	border-radius: 5px;
	transition: transform 0.3s ease-in-out;
	padding: 3px 10px;
	font-weight: 600;
}
.cancel-btn:hover,
.add-btn:hover {
	transform: scale(1.2);
	cursor: pointer;
}
.cancel-btn {
	background-color: var(--light-red);
}
.add-btn {
	background-color: var(--light-green);
}
